* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  font-size: 1.5rem;
}
h1 {
  font-size: 3rem;
  color: #4a4a4a;
}
h4 {
  font-size: 2rem;
  color: #4a4a4a;
}
p {
  font-size: 1.5rem;
  color: #4a4a4a;
}
span {
  font-size: 1.25rem;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;

  .mobile {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 32px;
    }

    h4 {
      color: #4a4a4a;
      span {
        color: #9f9f9f;
      }
    }
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
    li {
      a {
        text-decoration: none;
        color: #4a4a4a;
      }
      a:hover {
        text-decoration-line: underline;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    display: flex;
    /* justify-content: flex-start; */

    .logo {
      display: none;
    }
    nav ul {
      display: none;
    }
    .mobile {
      display: flex;
      padding: 0 8px;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 30px;
        }
      }
    }
  }
}

.hero {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #d8d8d8;

  .heroLeft {
    width: 60%;
    padding: 32px 24px;
    img {
      width: 100%;
    }
  }
  .heroRight {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    button {
      width: 60%;
      text-decoration: none;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: white;
      background-color: #4a4a4a;
      padding: 8px 0;
    }
    button:hover {
      background-color: #151515;
      transition: all 0.5s ease;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    .heroLeft {
      width: 100%;
    }
    .heroRight {
      display: flex;
      width: 100%;
      padding: 32px 16px;
      gap: 0px;
      h1 {
        padding-bottom: 32px;
      }
      h4 {
        padding-bottom: 24px;
      }
      button {
        width: 100%;
      }
    }
  }
}

.information {
  display: flex;
  width: 100%;

  .informationLeft {
    width: 60%;
    padding: 32px 24px;

    img {
      width: 100%;
      padding-bottom: 32px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .informationRight {
    width: 40%;
    padding-top: 16px;

    .mobile {
      display: none;
    }

    .card {
      width: 100%;
      display: flex;

      img {
        width: 35%;
        padding: 16px;
      }
      .cardContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        width: 65%;
        padding: 16px;
        a {
          font-size: 1.25em;
          text-decoration: none;
          color: #7aa9df;
        }
      }
    }
    .card:hover {
      background-color: #d8d8d8;
    }
  }
}

@media screen and (max-width: 480px) {
  .information {
    display: block;
    width: 100%;

    .informationLeft {
        display: none;
      }
    .informationRight{
        width: 100%;

        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
  }
}
